In [12]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
pd.options.display.max_columns = None

In [2]:
df = pd.read_csv('preprocessed.csv')

In [3]:
df.head()

,Air India,GoAir,IndiGo,Jet Airways,Jet Airways Business,Multiple carriers,Multiple carriers Premium economy,SpiceJet,Trujet,Vistara,Vistara Premium economy,Source_Chennai,Source_Delhi,Source_Kolkata,Source_Mumbai,Destination_Cochin,Destination_Delhi,Destination_Hyderabad,Destination_Kolkata,Total_Stops,Price,Day_of_Journey,Month_of_Journey,Arrival_hr,Arrival_min,duration_hr,duration_min,Dep_hr,Dep_min
0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,3897,24,3,1,10,2,50,22,20
1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,2,7662,5,1,13,15,7,25,5,50
2,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,2,13882,6,9,4,25,19,0,9,25
3,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,6218,5,12,23,30,5,25,18,5
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,13302,3,1,21,35,4,45,16,50

## Model Building and Hyperparameter Tuning

### ExtraTreesRegressor

### Splitting Our Dataset as Train and Test

In [9]:
X = df.drop('Price',axis=1)  # Features
y = df.Price  # Target

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [15]:
# Preparing Extra Tree Regression
from sklearn.ensemble import ExtraTreesRegressor
ET_Model = ExtraTreesRegressor(n_estimators=120)
ET_Model.fit(X_train,y_train)
y_predict = ET_Model.predict(X_test)

In [24]:
from sklearn.metrics import r2_score
r2_score(y_test,y_predict)
print('Score for ExtraTrees Regressor :',r2_score(y_test,y_predict))

Score for ExtraTrees Regressor : 0.7676249378306769

## Random Forest Regressor

In [25]:
from sklearn.ensemble import RandomForestRegressor
RF_Model = RandomForestRegressor()
RF_Model.fit(X_train,y_train)
y_predict = RF_Model.predict(X_test)

In [26]:
print('Score for RandomForest Regressor :',r2_score(y_test,y_predict))

Score for RandomForest Regressor : 0.7957371891711644

## Hyperparameter Tuning

In [27]:
from sklearn.model_selection import RandomizedSearchCV